{% extends 'base.html' %}

{% block content %}

<style>
img {
    display: block;
    margin-top: 10px;
    border: none;
}
</style>

<div style="background:white;padding:30px;border-radius:10px">

<h1>🎟 Movie Ticket</h1>

<h2>{{ booking.movie.title }}</h2>

<p>👤 User: {{ booking.user.username }}</p>

<p>🎫 Seats: {{ booking.quantity }}</p>

<p>💰 Total: Rs {{ booking.total_price }}</p>

<p>📅 Date: {{ booking.booking_date }}</p>

<hr>

{% if qr_image %}
    <img src="data:image/png;base64,{{ qr_image }}" />
{% else %}
    <p>QR not generated</p>
{% endif %}

<hr>

<p><b>Thank you for booking!</b></p>

</div>

{% endblock %}